<a href="https://colab.research.google.com/github/Plaifha/data_viz_2022/blob/main/%E0%B8%BABasic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x)=y$)

```python
def function (input_x):
    # do something with input_x to get output_y
    return output_y
```

$f_1(x)=x^2 +75$

In [ ]:
def function_f1(x): #input
  a = x**2 # process เยื้องให้อัตโนมัติ เพราะเป็นส่วนหนึ่งของ function
  y = a + 75 # output
  return y

print ('done!') #ไม่เยื้อง+ไม่อยู่ใน function

done!

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญ 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร `def function_name():`(ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input $input$ (ขาดได้)
3. ส่วนประมวลผล do something with input to get output (ขาดไม่ได้)
4. ส่วน output `return`  $input$ (ขาดได้)

### ตัวอย่าง function ที่มีสส่วนประกอบครบ

In [4]:
def function_f1(x): #input
  a = x**2 # process เยื้องให้อัตโนมัติ เพราะเป็นส่วนหนึ่งของ function
  y = a + 75 # output
  return y

### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
  y = 3.14159265359
  return y

In [ ]:
 piv = pi_v()
 circle_area_r2 = piv*(2**2)
 print(circle_area_r2)

12.56637061436

### function ที่ไม่มี process ไม่ได้

In [ ]:
def function_():

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
  print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('ปลายฟ้า','623021005-1')

ชื่อ ปลายฟ้า รหัสประจำตัว 623021005-1

In [ ]:
a = print_name_id('ปลายฟ้า','623021005-1')

ชื่อ ปลายฟ้า รหัสประจำตัว 623021005-1

In [ ]:
a

ตัวอย่าง funtion print https://www.programiz.com/python-programming/methods/built-in/print

In [ ]:
print ('ปลายฟ้า',end=' -> ') #ต้องการให้จบด้วยอะไร ก็แค่ใส่ end ก่อน
print ('623021005-1')

ปลายฟ้า -> 623021005-1

In [ ]:
print('ปลายฟ้า','623021005-1') #หากมีหลายค่าให้ print ก็จะแบ่งด้วยเว้นวรรค

ปลายฟ้า 623021005-1

In [ ]:
print('ปลายฟ้า','623021005-1',sep=' & ')

ปลายฟ้า & 623021005-1

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()`  มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และ ไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [2]:
def print_grade(name,id,grade = 'F'): #ค่า'default' คือค่าเบื้องต้น ,มี input 3 ตัว คือ name,id,grade
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [3]:
print_grade('ปลายฟ้า คำเพ็ง','623021005-1') #ตัวที่ 3 ไม่จำเป็นต้องใส่ เดี๋ยวมันใส่ค่า defaulf ให้เอง

รหัสประจำตัว 623021005-1 ชื่อ ปลายฟ้า คำเพ็ง
ได้เกรด F

In [ ]:
print_grade('ปลายฟ้า คำเพ็ง','623021005-1','A') #ใส่ค่าตามลำดับของ input

รหัสประจำตัว 623021005-1 ชื่อ ปลายฟ้า คำเพ็ง
ได้เกรด A

In [ ]:
print_grade(name='ปลายฟ้า คำเพ็ง',id='623021005-1',grade='A') #ใส่ชื่อ input เพื่อบอกค่าเลยก็ได้

รหัสประจำตัว 623021005-1 ชื่อ ปลายฟ้า คำเพ็ง
ได้เกรด A

# Looping(for)

```python
for member in listEx:
    do_something()
```

In [1]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [5]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [6]:
for name in ['ปริม','แบม','เฟิน','เมย์','ฝน']:
    N=name
    print_name(N)

ฉันชื่อ ปริม
ฉันชื่อ แบม
ฉันชื่อ เฟิน
ฉันชื่อ เมย์
ฉันชื่อ ฝน

In [7]:
list_name_id_grade = [['นางสาวจิรัชญา ฟองฟูม','613020038-0','B'],
                      ['นายสุภทัต ขุนจันทร์','613020566-5','A'],
                      ['นางสาวกัญญาวีร์ อุดม','613020610-8','C']]

In [9]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

รหัสประจำตัว 613020038-0 ชื่อ นางสาวจิรัชญา ฟองฟูม
ได้เกรด B
----------------
รหัสประจำตัว 613020566-5 ชื่อ นายสุภทัต ขุนจันทร์
ได้เกรด A
----------------
รหัสประจำตัว 613020610-8 ชื่อ นางสาวกัญญาวีร์ อุดม
ได้เกรด C
----------------

###ใช้ for loop เพื่อเพิ่มสมาชิกใน list

In [11]:
list_name =[]
list_id =[]
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [12]:
list_name

['นางสาวจิรัชญา ฟองฟูม', 'นายสุภทัต ขุนจันทร์', 'นางสาวกัญญาวีร์ อุดม']

### การวนลูปด้วย `range()`

In [13]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

### Loop ซ้อน Loop

In [15]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range (1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
      print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [16]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรท {g}')

In [17]:
print_grade_loop(list_name,list_grade)

นางสาวจิรัชญา ฟองฟูม ได้เกรท B
นายสุภทัต ขุนจันทร์ ได้เกรท A
นางสาวกัญญาวีร์ อุดม ได้เกรท C

# Condition Statement (if)

```python
if condition1:
    do_something() ##ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing() ##ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing() ##ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ do_the_last_thing()
```

In [19]:
for n in list_name:
    if len(n)>20:
     print(f'{n} ได้เกรด A')
  else:
     print(f'{n} ได้เกรด F')

IndentationError: ignored

### operator ที่ใช้ตรวจสอบ condition
 ==,!=,>=,<=,<,>,and,or

In [20]:
10==20

False

In [21]:
a =10 == 20
print(a)

False

In [22]:
b=15<=20
print(b)

True

In [23]:
if a:
    print('x')

In [24]:
if True:
    print('x')

x

In [25]:
if a and b:
    print('x')

In [26]:
if a or b:
    print('x')

x

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่าสามารถตัดเกรดได้ง

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 0 แต่น้อยกว่า 50 จะได้เกรด F
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
 * ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
 * ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'